/*
 *
 *C(05)分页 
 * 
 * */
.pointer{
	cursor:pointer;
}
.page-info{
	color: #333333;
	font-size: 14px;
	margin-top: 20px;
	
}
/*可加边框的按钮*/
.change-btn,.last-page,.next-page{
	border: 1px solid #E5E5E5;
	border-radius: 2px;
	margin: 5px;
	background: #FFFFFF;
	font-size: 14px;
	color: #333333;
}
/*上一页、下一页不可点击样式*/
.last-page,.next-page{
	color: #b8b8b8;

}
/*首页、尾页不可点击样式*/
.frist-page,.end-page{
	color: #4387cd;
}
/*首页、尾页、上一页、下一页不可点击样式*/
.last-page.pointer,.next-page.pointer,.frist-page.pointer,.end-page.pointer{
	color: #333;
	padding: 0px 6px;
	height: 23px;
	line-height: 21px;
	text-align: center;
}

.page-info table{
	margin: 0 auto;
}
/*数字页码的样式*/
.page-info table td div{
	font-size: 14px;
	padding: 0px 7px;
	height: 23px;
	line-height: 23px;
	text-align: center;
}
/*总计页数 鼠标悬浮去掉小手*/
.page-info table td div.data-count{
	cursor: auto;
}
/*页码选中跟鼠标悬浮样式*/
.page-info table td div.active,.page-info table td div.change-btn:hover{
	color: #4386e2;
	border: 1px solid #4387cd;
	
}
/*可点击的首页鼠标悬浮*/
.page-info table td div.frist-page.pointer:hover{
	color: #666666;
}
/*可点击的尾页鼠标悬浮*/
.page-info table td div.end-page.pointer:hover{
	color: #666666;
}